/* GLOBAL */
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}
p {
  margin: 0;
}

.container {
  display: grid;
  grid-template: 65px 1fr / 90px 1fr;
  grid-template-areas: "header header"
                       "left-menu movies";
  height: 100vh;
}

.header {
  display: grid;
  grid-template-columns: minmax(auto, 250px) 1fr minmax(auto, 300px);
  justify-items: center;
  align-items: center;
  grid-area: header;
  /* height: 100px; */
}
.logo {
  display: flex;
  align-items: center;
}
.logo p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 1px #FF565D;
}
.logo img {
  width: 40px;
}
.searcher {
  font-family: 'Lata',sans-serif;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgb(200, 200, 200);
  padding: 12px 10px;
}
.searcher:focus {
  border: 1px solid #FF565D;
}
.user {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px;
}
.user img:hover {
  filter: opacity(40%);
}

/* LEFT MENU */

.left-menu {
  display: grid;
  grid-template-rows: 90px 90px 90px 1fr;
  grid-area: left-menu;
  align-items: center;
  justify-items: center;
  background: linear-gradient(to right,#fd525a,#f8746d);
  box-sizing: content-box;
}
.left-menu a:nth-child(4) {
  align-self: end;
  padding-bottom: 1em;
}
.left-menu a {
  text-decoration: none;
  color: white;
  text-align: center;
}
.left-menu p {
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.5px;
}
.left-menu i {
  font-size: 2em;
}

.left-menu a:hover {
  color: black;
  transition: .5s;
}

/* MOVIES SECTION */
.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-area: movies;
  box-shadow: inset 0px 45px 14px -52px rgba(0,0,0,0.75);
  padding: 0.625em 2.5em;
  overflow: auto;
}
.movies a {
  color: white;
  position: relative;
}
.movies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 50%;
  vertical-align: top;
}
.movies p{
  font-weight: bold;
  font-size: 1.25em;
  letter-spacing: -0.5px;
  padding-left: 15px;

}
.movies p:nth-of-type(1),
.movies p:nth-of-type(2),
.movies p:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: -1; /*ESTO SE HACE PARA QUE OCUPE SIEMPRE EL 
                         TOTAL DE COLUMNAS QUE TIENE DISPONIBLE */
}
.overlay {
  position: absolute;
  background: rgba(0,0,0,0.7);
  top: 75%;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0.625em 1.25em;
  transition: .3s;
  overflow: hidden;
}
.overlay h2 {
  font-size: 1.25em;
  margin: 0;
  margin-bottom: 10px;
}
.overlay p {
  padding: 0;
  font-weight: 300;
  font-size: 1.1em;
  display: none;
}


@media screen and (min-width:1024px) {
  .movie:hover .overlay {
    top: 0;
    transition: .3s;
    /* padding-top: 1.5em;  */
  }
  .movie:hover .overlay p {
    display: initial;
  }
}
@media screen and (max-width:1023px) {
  .left-menu {
    font-size: 14px;
  }
  .movies {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .overlay p {
    display: none;
  }
}
@media screen and (max-width:767px) {
  .container {
    grid-template-areas: "header header"
                         "movies movies"
                         "left-menu left-menu";
  }
  .movies {
    grid-template-columns: 1fr;
    gap: 10px;
    font-style: 14px;
  }
  .left-menu {
    grid-template-rows: initial;
    grid-template-columns: repeat(4, 1fr);
    background: linear-gradient(to top,#fd525a,#f8746d);
  }
  .left-menu a {
    padding: .5em 0 !important;
  }

}
@media screen and (max-width:480px) {
  .user p {
    display: none;
  }
  .left-menu {
    font-size: 12px;
  }
  .left-menu a {
    padding: .5em 0 !important;
  }
}